*
{
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-size: cover;
    background-image: url("./images/80cDgU8.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}


.current-weather {
    color: #141313;
    /* display: flex; */
    border-radius:5px;
    padding: 20px 70px 20px 20px;
    background: #bfd4ea;
    justify-content: space-between;  
}
h1 {
    color: #fff !important;
    padding: 20px 0; 
    font-size: 1.75rem;
    background: #04134f;
}

h2 .form-heading {
    color: #fff;
}

.form {
    display: flex ;
    gap: 35px;
    padding: 30px;
}
.weather-input { 
    width: 550px;
}
.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-input .separator {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background: #e5d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    height: 46px;
    cursor: pointer;
    outline: none;
    color: #171313;
    font-size: 1rem;
    border-radius: 4px;
    background: #c8ba98;
}

.weather-data {
    width: 100%;
}
.current-weather {
    color: #1a1717;
    font-size: small;
    display: flex;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    background: #9db7d4;
    justify-content: space-between;
 
}




